.aboutme {
  margin-top: 30vh;
  border-left: 5px solid #4b2e83;
  padding-left: 1.5rem;
  text-align: center;
  font-size: small;
  text-align: left; }

.message-location {
  margin-top: 10rem;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  text-align: center; }
  .message-location .message {
    margin: auto 1% auto 1%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px; }
    .message-location .message .message-input {
      height: 16rem; }
    .message-location .message .send-button {
      width: 90%;
      background-color: #4b2e83;
      border: none; }
    .message-location .message .form-control {
      margin-top: 5px;
      margin-bottom: 5px;
      border: none;
      border-bottom: 1px solid #4c4c4c;
      border-radius: unset; }
  .message-location .location {
    margin: auto 1% auto 1%;
    width: 50%;
    height: 100%;
    background-color: white; }
