.message-box {
  display: flex;
  flex-direction: column; }
  .message-box .send-button {
    width: 90%;
    background-color: #4b2e83;
    border: none;
    margin: auto; }
  .message-box .form-control {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid #4c4c4c;
    border-radius: unset; }
