.porfolio {
  margin-top: 10vh; }

.drawing-tool {
  position: relative;
  margin-right: 200px; }

.stock-performance {
  position: relative;
  margin-left: 200px; }

.demo {
  width: 600px;
  height: 300px;
  margin-left: 20%; }
