.portfolio {
  margin-top: 10vh; }
  .portfolio h1, .portfolio h2, .portfolio h3, .portfolio h4, .portfolio h5, .portfolio h6, .portfolio a {
    color: #4b2e83; }

.drawing-tool {
  position: relative;
  margin-right: 10vw; }

.stock-performance {
  position: relative;
  margin-left: 10vw; }

.demo {
  width: 50%;
  height: 30%;
  margin-left: 20%; }

@media only screen and (max-width: 1224px) {
  .drawing-tool {
    margin-left: 2vw;
    margin-right: 2vw; }
  .stock-performance {
    margin-left: 2vw;
    margin-right: 2vw; } }
