$purple: #4b2e83;
.contact {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 200px;
  color: $purple;

  h2 {
    color: $purple;
  }
  .image-container{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #4b2e83;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 40px;
    height: 40px;
  }
}