@import "./standard";

$offsetY: -5px;
$bigImg: 80px;
$smallImg: 40px;

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 33%;
  color: $purple;
  transition: top ease 0.5s;
  margin: 0px !important;
  &:hover {
    -webkit-transform: translateY($offsetY);
    -moz-transform: translateY($offsetY);
    -ms-transform: translateY($offsetY);
    -o-transform: translateY($offsetY);
    transform: translateY($offsetY);
    transition: 0.8s;
  }
  h2 {
    color: $purple;
  }
  .image-container{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: $bigImg;
    height: $bigImg;
    background-color: $purple;
    justify-content: center;
    align-items: center;
  }

  img {
    width: $smallImg;
    height: $smallImg;
  }
}