@import "./standard";

$offsetY: -5px;
$big: 80px;
$medium: 40px;
$small: 20px;

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 33%;
  color: $purple;
  transition: top ease 0.5s;
  margin: 0px;
  &:hover {
    -webkit-transform: translateY($offsetY);
    -moz-transform: translateY($offsetY);
    -ms-transform: translateY($offsetY);
    -o-transform: translateY($offsetY);
    transform: translateY($offsetY);
    transition: 0.8s;
  }
  h2 {
    color: $purple;
  }
  .image-container{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: $big;
    height: $big;
    background-color: $purple;
    justify-content: center;
    align-items: center;
  }

  img {
    width: $medium;
    height: $medium;
  }
}


@media only screen and (max-width: $bigScreen) {
  .contact {
    width: 80%;
    margin-top: 2%;
    h2 {
      font-size: large;
    }
    img {
      width: $small;
      height: $small;
    }

    .image-container {
      width: $medium;
      height: $medium;
    }
  }

}