@import './standard';

$additionalMargin: 10vw;

.portfolio {
  margin-top: 10vh;
  h1, h2, h3, h4, h5, h6, a{
    color: $purple;
  }
}
.drawing-tool {
  position: relative;
  margin-right: $additionalMargin;
}

.stock-performance {
  position: relative;
  margin-left: $additionalMargin;
}

.demo {
  width: 50%;
  height: 30%;
  margin-left: 20%;
}

@mixin smallSideMargins {
  margin-left: $smallSideMargin;
  margin-right: $smallSideMargin;
}

@media only screen and (max-width: $bigScreen) {
  .drawing-tool {
    @include smallSideMargins;
  }

  .stock-performance {
    @include smallSideMargins;
  }
}