
$space: 10vw;
.portfolio {
  margin-top: 10vh;
  h1, h2, h3, h4, h5, h6, a{
    color: #4b2e83;
  }
}
.drawing-tool {
  position: relative;
  margin-right: $space;
}

.stock-performance {
  position: relative;
  margin-left: $space;
}

.demo {
  width: 50%;
  height: 30%;
  margin-left: 20%;
}